<div class="content_title">
    <h1>文章发布</h1>
</div>
<div class="table_content">
    <div>
        <div class="search_table">
            <div class="pull_left">
                <a class="publish_article">
                    <img src="img/leaf.png">
                    <span>发布文章</span>
                </a>
                <a class="publish_article">
                    <span id="add_btn">+</span>
                    <span>添加分类</span>
                </a>
            </div>
            <div class="pull_right" ng-submit="search()">
                <input placeholder="搜索" type="text" ng-model="text">
                <a href="javascript:void(0);" ng-click="search(text)">
                    <img src="img/search.png" style="width: 22px;" >
                </a>
            </div>
        </div>
        <div class="table_container">
            <div class="table_header">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                <div>文章ID</div>
                            </th>
                            <th >
                                <div>文章标题</div>
                            </th>
                            <th>
                                <div>文章作者</div>
                            </th>
                            <th>
                                <div >所属专题</div>
                            </th>
                            <th>
                                <div >文章类型</div>
                            </th>
                            <th>
                                <div >发布时间</div>
                            </th>
                            <th>
                                <div>操作</div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="allArticles in allArticle|filter:text">
                            <td>{{allArticles.article_id}}</td>
                            <td >{{allArticles.title}}</td>
                            <td>{{allArticles.nickname}}</td>
                            <td>{{allArticles.topic_name}}</td>
                            <td>{{allArticles.topic_type}}</td>
                            <td>{{allArticles.write_time| date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                            <td class="operate">
                                <div ng-click="showArticle($index)">修改</div>
                                <div ng-click="deleteArticle($index)">删除</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--分页-->
    <nav class="footer">
        <ul class="pagination" ng-model="maxSize" num-pages="numPages" max-size="maxSize">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                <a ng-click="selectPage(page)">{{ page }}</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="z_open_page_doctor">{{selPage}} / {{maxSize}}</div>

</div>