<div class="content_title">
    <h1>专题管理</h1>
</div>
<div class="table_content">
    <div>
        <div class="search_table">
            <div class="pull_left">
                <a class="publish_article">
                    <span id="add_btn">+</span>
                    <span>添加专题</span>
                </a>
            </div>
            <div class="pull_right" ng-submit="search()">
                <input placeholder="搜索" type="text" ng-model="text">
                <a href="javascript:void(0);" ng-click="search(text)">
                    <img src="img/search.png" style="width: 22px;" >
                </a>
            </div>
        </div>
        <div class="table_container">
            <div class="table_header">
                <table style="width: 100%;">
                    <thead>
                    <tr>
                        <th>
                            <div>专题ID</div>
                        </th>
                        <th >
                            <div>专题名称</div>
                        </th>
                        <th>
                            <div>文章类型</div>
                        </th>
                        <th>
                            <div>专题文章个数</div>
                        </th>
                        <th>
                            <div>操作</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="allTopics in allTopic|filter:text">
                            <td>{{allTopics.topic_id}}</td>
                            <td >{{allTopics.topic_name}}</td>
                            <td>{{allTopics.topic_type}}</td>
                            <td>{{allTopics.article_count}}</td>
                            <td class="operate">
                                <div>修改</div>
                                <div>删除</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--分页-->
    <nav class="footer">
        <ul class="pagination" ng-model="maxSize" num-pages="numPages" max-size="maxSize">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                <a ng-click="selectPage(page)">{{ page }}</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="z_open_page_doctor">{{selPage}} / {{maxSize}}</div>

</div>