<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lt.pianke.dao.ArticleDAO">
<!--热门 导航图片块-->
    <!--导航热门阅读图片-->
    <resultMap id="hotArticlePicResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="thumbnail" column="thumbnail"/>
    </resultMap>
    <!--查询导航热门阅读图片-->
    <select id="getHotArticlePics" resultMap="hotArticlePicResult">
       SELECT
        a.article_id,
        a.thumbnail,
        a.title,
        u.user_id,
        t.topic_id,
        a.song_url
        FROM t_user u,t_article a ,t_topic t
        WHERE  a.topic_id=t.topic_id
        AND a.user_id=u.user_id
         AND t.topic_type='阅读'
        ORDER BY a.like_count DESC
        LIMIT 0,2
    </select>

    <!--导航热门电台图片-->
    <resultMap id="hotRadioPicResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="thumbnail" column="thumbnail"/>
    </resultMap>
    <!--查询导航热门电台图片-->
    <select id="getHotRadioPics" resultMap="hotRadioPicResult">
        SELECT
        a.article_id,
        a.thumbnail,
        a.title,
        u.user_id,
        t.topic_id,
        a.song_url
        FROM t_user u,t_article a ,t_topic t
        WHERE  a.topic_id=t.topic_id
        AND a.user_id=u.user_id
         AND t.topic_type='电台'
        ORDER BY a.like_count DESC
        LIMIT 0,3
    </select>

    <!-- 文章 热门块-->
    <!-- 封装热门文章查询结果集-->
    <resultMap id="hotArticleResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="read_count" column="read_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
        <result property="write_time" column="write_time"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
    </resultMap>
    <!--查询热门文章-->
    <select id="getHotArticles" resultMap="hotArticleResult">
       SELECT u.user_id,
        u.nickname,
        a.article_id,
        a.thumbnail,
        a.title,
        a.content,
        a.comment_count,
        a.read_count,
        a.like_count,
        t.topic_type
        FROM t_user u,t_article a,t_topic t
        WHERE a.user_id=u.user_id
        AND a.topic_id=t.topic_id
        AND t.topic_type='阅读'
        ORDER BY a.read_count DESC
        LIMIT 0,3
    </select>
    <!-- 封装热门电台文章查询结果集-->
    <resultMap id="hotRadioArticleResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="read_count" column="read_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
        <result property="write_time" column="write_time"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
    </resultMap>
    <!--查询热门电台文章-->
    <select id="getHotRadioArticles" resultMap="hotRadioArticleResult">
       SELECT u.user_id,
        u.nickname,
        a.article_id,
        a.thumbnail,
        a.title,
        a.comment_count,
        a.play_count,
        a.like_count,
        t.topic_type
        FROM t_user u,t_article a,t_topic t
        WHERE a.user_id=u.user_id
        and a.topic_id=t.topic_id
        AND t.topic_type='电台'
        ORDER BY a.play_count DESC
        LIMIT 0,3
    </select>

    <!--查询主页面上所有文章-->
    <resultMap id="allArticleResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="read_count" column="read_count"/>
        <result property="play_count" column="play_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
        <result property="write_time" column="write_time"/>
        <result property="user_id" column="user_id"/>
        <result property="head" column="head"/>
        <result property="nickname" column="nickname"/>
        <result property="topic_name" column="topic_name"/>
        <result property="topic_type" column="topic_type"/>
    </resultMap>
    <select id="getAllArticles" resultMap="allArticleResult">
           SELECT u.user_id,
            u.head,
            u.nickname,
            a.article_id,
            a.thumbnail,
            a.title,
            a.content,
            a.comment_count,
            a.read_count,
            a.play_count,
            a.like_count,
            a.write_time,
            t.topic_name,
            t.topic_type
            FROM t_user u,t_article a,t_topic t
            WHERE a.user_id=u.user_id
             AND a.topic_id=t.topic_id
            ORDER BY a.read_count DESC
    </select>

<!--根据id获取文章详情界面-->
    <!-- 封装文章详情查询结果集-->
    <resultMap id="articleInfoMap" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="words_count" column="words_count"/>
        <result property="read_count" column="read_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
        <result property="write_time" column="write_time"/>
        <result property="user_id" column="user_id"/>
        <result property="head" column="head"/>
        <result property="nickname" column="nickname"/>
        <collection property="commentList" column="article_id" javaType="ArrayList" select="getComments"/>
    </resultMap>
    <!--文章评论结果集-->
    <resultMap id="commentMap" type="java.util.Map">
        <id property="comment_id" column="comment_id"/>
        <result property="content" column="content"/>
        <result property="comment_time" column="comment_time"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="head" column="head"/>
        <result property="article_id" column="article_id"/>
        <result property="title" column="title"/>
    </resultMap>
    <!-- 文章详情主查询-->
    <select id="getArticleInfo" parameterType="Integer" resultMap="articleInfoMap">
        SELECT
        u.user_id,
        u.nickname,
        u.head,
        u.description,
        a.article_id,
        a.thumbnail,
        a.title,
        a.content,
        a.words_count,
        a.comment_count,
        a.read_count,
        a.like_count,
        a.write_time
        FROM  t_article a,t_user u
        WHERE a.user_id = u.user_id
        AND   a.article_id =  #{article_id}
    </select>
    <!--文章所有评论列表子查询-->
    <select id="getComments" parameterType="Integer" resultMap="commentMap">
        SELECT
        c.comment_id,
        u.nickname,
        u.head,
        c.user_id,
        c.content,
        c.comment_time
        FROM
        t_comment c,t_user u
        WHERE
        c.`article_id`=#{article_id}
        AND c.user_id =u.user_id
        ORDER BY c.comment_id DESC
    </select>

    <!--根据电台文章id获取该文章所有详情数据-->
    <resultMap id="radioArticleInfoMap" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="words_count" column="words_count"/>
        <result property="read_count" column="read_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
        <result property="write_time" column="write_time"/>
        <result property="user_id" column="user_id"/>
        <result property="head" column="head"/>
        <result property="nickname" column="nickname"/>
        <result property="play_count" column="play_count"/>
        <result property="song_url" column="song_url"/>
        <collection property="commentList" column="article_id" javaType="ArrayList" select="getRadioComments"/>
    </resultMap>
    <!--电台文章评论结果集-->
    <resultMap id="radioCommentMap" type="java.util.Map">
        <id property="comment_id" column="comment_id"/>
        <result property="content" column="content"/>
        <result property="comment_time" column="comment_time"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="head" column="head"/>
        <result property="article_id" column="article_id"/>
        <result property="title" column="title"/>
    </resultMap>
    <!-- 电台文章详情主查询-->
    <select id="getRadioArticleInfo" parameterType="Integer" resultMap="radioArticleInfoMap">
       SELECT
        u.user_id,
        u.nickname,
        a.article_id,
        a.thumbnail,
        a.title,
        a.content,
        a.play_count,
        a.comment_count,
        a.like_count,
        a.song_url
        FROM  t_article a,t_user u
        WHERE a.user_id = u.user_id
        AND   a.article_id =  #{article_id}
    </select>
    <!--文章所有评论列表子查询-->
    <select id="getRadioComments" parameterType="Integer" resultMap="radioCommentMap">
        SELECT
        c.comment_id,
        u.nickname,
        u.head,
        c.user_id,
        c.content,
        c.comment_time
        FROM
        t_comment c,t_user u
        WHERE
        c.`article_id`=#{article_id}
        AND c.user_id =u.user_id
        ORDER BY c.comment_id DESC
    </select>

<!--阅读界面  -->
    <!--阅读块轮播图-->
    <resultMap id="readArticlePicResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="thumbnail" column="thumbnail"/>
    </resultMap>
    <!--查询阅读块轮播图片-->
    <select id="getReadArticlePics" resultMap="readArticlePicResult">
        SELECT
        a.article_id,
        a.thumbnail
        FROM t_user u,t_article a,t_topic t
        WHERE a.user_id=u.user_id
        AND t.topic_id=a.topic_id
        AND t.topic_type='阅读'
        ORDER BY a.like_count DESC
        LIMIT 0,6
    </select>
    <!--阅读块所有文章-->
    <resultMap id="readAllArticleResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="read_count" column="read_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
        <result property="write_time" column="write_time"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="topic_id" column="topic_id"/>
    </resultMap>
    <select id="getReadAllArticles" resultMap="readAllArticleResult">
              SELECT u.user_id,
        u.`nickname`,
        a.`article_id`,
        a.`thumbnail`,
        a.`title`,
        a.`content`,
        a.`comment_count`,
        a.`read_count`,
        a.`like_count`,
        a.topic_id
        FROM t_user u,t_article a ,t_topic t
        WHERE a.`user_id`=u.`user_id`
        AND a.`topic_id`=t.`topic_id`
        AND t.`topic_type`='阅读'
        ORDER BY a.`read_count`
    </select>

<!--电台界面  -->
    <!--电台块所有TING文章-->
    <resultMap id="radioAllArticleResult" type="java.util.Map">
        <id property="article_id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="play_count" column="play_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="topic_id" column="topic_id"/>
    </resultMap>
    <select id="getRadioAllArticles" resultMap="radioAllArticleResult">
          SELECT u.user_id,
            u.`nickname`,
            a.`article_id`,
            a.`thumbnail`,
            a.`title`,
            a.`comment_count`,
            a.`play_count`,
            a.`like_count`,
            a.topic_id
            FROM t_user u,t_article a ,t_topic t
            WHERE a.`user_id`=u.`user_id`
            AND a.`topic_id`=t.`topic_id`
            AND t.`topic_type`='电台'
            ORDER BY a.`play_count`
    </select>
</mapper>
