<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lt.pianke.dao.LabelDAO">

<!--根据id获取专题详情界面-->
    <!-- 封装专题详情查询结果集-->
    <resultMap id="labelInfoMap" type="java.util.Map">
        <id property="label_id" column="label_id"/>
        <result property="label_name" column="label_name"/>
        <result property="logo" column="logo"/>
        <result property="timeline_count" column="timeline_count"/>
        <result property="timeline_id" column="timeline_id"/>
    </resultMap>
    <!-- 文章详情主查询-->
    <select id="getLabelInfo" parameterType="Integer" resultMap="labelInfoMap">
          SELECT
            l.label_id,
            l.label_name,
            l.logo,
            l.timeline_count,
            t.label_id,
            t.timeline_id
            FROM  t_timeline t,t_label l
            WHERE t.label_id=l.label_id
            AND l.label_id = #{label_id}
    </select>

</mapper>
