<style>
    .trigger-menu{
        margin: 30px 0 0;
        text-align: left;
    }
</style>
<div class="index_content">
    <div class="user_list">
        <div class="title_label">
            全部
            <div class="search" style="float: right;background-color: #eee;border-radius: 40px;height: 42px;margin-top: -10px;">
                <form ng-submit="search()" accept-charset="UTF-8" method="get">
                    <input ng-model="text" placeholder="搜索" class="search-input" type="text" style="background: #eee;border: none;padding-top: 11px;margin-left: 13px;">
                    <a class="search-btn" href="javascript:void(0);" ng-click="search(text)" style="border-bottom: none;">
                        <img ng-src="img/search.png" class="glyphicon-search" style="width: 20px;">
                    </a>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" ng-repeat="allUser in allUsers|filter:text">
                <div class="user_info">
                    <div class="userLeft">
                        <a href="#/user/{{allUser.user_id}}" target="_blank">
                            <img src="{{allUser.head}}">
                        </a>
                        <div style="float: left;margin-top: 10px;">
                            <input type="hidden" id="id_to" value="{{allUser.user_id}}">
                            <input type="hidden" id="id_from" value="{{user.user_id}}">
                            <button class="btn-follow" id="followBtn" ng-click="followAuthor(allUser.user_id)">关注</button>
                            <button class="btn-del_follow" id="delBtn" style="display: none">已关注</button>
                        </div>

                    </div>
                    <div class="userRight">
                        <div class="userName">
                            <a href="#/user/{{allUser.user_id}}" target="_blank">{{allUser.nickname}}</a>
                        </div>
                        <div class="userDescription">{{allUser.description| limitTo : 20 }}...</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    //关注
    document.getElementById("followBtn").onclick=function(){
        document.getElementById("delBtn").style.display = 'block'
        document.getElementById("followBtn").style.display='none'
    }
    document.getElementById("delBtn").onclick=function(){
        document.getElementById("followBtn").style.display = 'block'
        document.getElementById("delBtn").style.display='none'
    }


</script>