<style>
    .index_content{
        width: 960px;
        margin: 0 auto;
        clear: both;
    }
    .type_title {
        clear: both;
        padding-bottom: 34px;
        padding-top: 40px;
        color: #999;
        font-size: 16px;
    }

    .type_title span {
        cursor: pointer;
        position: relative;
        margin-right: 30px;
    }
    .type_title .active {
        color: #333;
        padding-bottom: 10px;
        border-bottom: 2px solid #333;
    }
    .type_title span:hover{
        color: #333;
        padding-bottom: 10px;
        border-bottom: 2px solid #333;
    }
    .set_content{
        background-color: #fff;
        height: 700px;
        border: 1px solid #e8e8e8;
        margin-bottom: 103px;
        margin-top: 16px;
    }
    .user_set{
        padding-left: 106px;
        padding-top: 47px;
    }
    .set_icon{
        height: 100px;
    }
    .user_set  > div {
        margin-bottom: 30px;
    }
    .index_content .set_content .user_set .set_icon .set_text{
        padding-right: 22px;
    }
    .index_content .set_text{
        padding-right: 11px;
        color: #333;
        font-weight: 200;
    }
    .index_content .set_content .user_set .set_icon img {
        cursor: pointer;
        width: 100px;
        height: 100px;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        vertical-align: middle;
    }
    .index_content .set_content .user_set .set_icon div{
        float: left;
    }

    /*修改按钮*/
    .index_content .set_btn {
        margin-top: 70px;
        margin-left: 47px;
        width: 96px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        background-color: #78bc85;
        -ms-border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        font-weight: 100;
        border: none;
    }
    .index_content .set_btn:hover {
        background-color: #57ad68;
    }
    .set_follow_content{
        margin-bottom: 103px;
        margin-top: 16px;
    }
    .set_follow_content .row .col-md-6{
        padding: 30px 30px;
        background-color: #fff;
        border: 1px solid #e8e8e8;
        width: 470px;
        height: 130px;
        margin-bottom: 14px;
        margin-left: 20px;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
    }
    .set_follow_content .row .col-md-6>div{
        float: left;
    }
    .message_user_head{
        width: 50px;
        height: 50px;
    }
    .message_user_head img{
        width: 100%;
        height: 100%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .message_user_info{
        width: 200px;
        font-size: 16px;
        padding-left: 18px;
        font-weight: 300;
    }
    .message_user_info a{
        color:#333;
    }
    .message_user_info a:hover {
        color: #57ad68;
    }
    .m_user_des{
        font-weight: 100;
        color: #666;
        height: 55px;
        font-size: 12px;
        padding-top: 6px;
    }
    .set_follow_content .row .col-md-6 .btn-follow{
        cursor: pointer;
        right: 30px;
        top: 50%;
        margin-top: -15.5px;
    }
    .btn-follow{
        position: absolute;
        margin-left: 13px;
        width: 72px;
        line-height: 29px;
        font-size: 14px;
        color: #333;
        border: 1px solid #ccc;
        -ms-border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        text-align: center;
        background-color: #fff;
    }
    .btn-follow:hover {
        color: #57ad68;
        border-color: #78bc85;
    }
    .btn-del_follow{
        position: absolute;
        margin-left: 13px;
        width: 72px;
        line-height: 29px;
        font-size: 14px;
        color: #57ad68;
        border: 1px solid #57ad68;
        -ms-border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        text-align: center;
        background-color: #fff;
    }
    .update-set{
        width: 150px;
        color: gray;
        padding: 5px 10px;
    }
</style>
<div class="index_content">
    <div class="type_title" ng-init='activeTab=1'>
        <span ng-click='activeTab=1' ng-class='{active:activeTab==1}'>账号设置</span>
        <span ng-click='activeTab=2' ng-class='{active:activeTab==2}'>我关注的人</span>
        <span ng-click='activeTab=3' ng-class='{active:activeTab==3}'>我喜欢的文章</span>
    </div>

    <div class="set_content" ng-show='activeTab==1'>
        <div class="user_set">
            <!--头像-->
            <div class="set_icon">
                <span class="set_text" style="float: left;">头&nbsp;&nbsp;&nbsp;像:</span>
                <div id="div1">
                    <img ng-src="{{userId.head}}" id="userHead" onclick="getPicture()">
                </div>
                <input type="file" file-model="myFile" onchange="setImage(this,div1,userHead)" id="photo"
                       style="display: none" />
            </div>
            <!--用户名-->
            <div class="set_account">
                <span class="set_text">账&nbsp;&nbsp;&nbsp;号:</span>
                <span>{{userId.account}}</span>
            </div>
            <!--密码-->
            <div class="set_password">
                <span class="set_text">密&nbsp;&nbsp;&nbsp;码:</span>
                <input type="text" value="{{userId.password}}" class="update-set" id="password">
            </div>
            <!--昵称-->
            <div class="set_name">
                <span class="set_text">昵&nbsp;&nbsp;&nbsp;称:</span>
                <input type="text" value="{{userId.nickname}}" class="update-set" id="nickname">
            </div>
            <!--简介-->
            <div class="set_des">
                <span class="set_text">简&nbsp;&nbsp;&nbsp;介:</span>
                <input type="text" value="{{userId.description}}" id="description"
                       style="width: 600px;height: 100px;padding: 20px;color: gray;">
            </div>
            <div>
                <input type="hidden" id="account" value="{{user.account}}"/>
                <button type="submit" class="set_btn" ng-click="update()">保存修改</button>
            </div>

        </div>
    </div>
    <div class="set_follow_content" ng-show='activeTab==2'>
            <div class="row">
                <div class="col-md-6" ng-repeat="people in personal.authorFollow">
                    <div class="message_user_head">
                        <a href="#/user/{{people.user_id}}">
                            <img ng-src="{{people.head}}">
                        </a>
                    </div>
                    <div class="message_user_info">
                        <div class="m_user_name">
                            <a href="#/user/{{people.user_id}}">
                                {{people.nickname}}
                            </a>
                        </div>
                    </div>
                    <button class="btn-del_follow">已关注</button>
                    <button class="btn-follow" style="display: none">关注</button>
                </div>
            </div>
    </div>
    <div class="set_follow_content" ng-show='activeTab==3'>
        <div class="row">
            <div class="col-md-6" ng-repeat="likeFrom in personal.likeFroms">
                <div class="message_user_head">
                    <a href="#">
                        <img ng-src="{{likeFrom.head}}">
                    </a>
                </div>
                <div class="message_user_info">
                    <div class="m_user_name">
                        <a href="#/user/{{likeFrom.user_id}}">
                            {{likeFrom.nickname}}
                        </a>
                    </div>
                    <div class="m_user_des">
                        <a href="#/article/{{likeFrom.article_id}}">
                            《{{likeFrom.title}}》
                        </a>
                    </div>
                </div>
                <button class="btn-del_follow">已收藏</button>
                <button class="btn-follow" style="display: none">收藏</button>
            </div>

        </div>
    </div>
</div>
